body {
    font-family: 'Modernist';
    text-align: center;
}

.cajablanca {
    background-color: #F4EAE0;
    color: #002D72;
    padding-bottom: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.soy, .veo {
    padding: 5rem;
    font-size: 1.4rem;
    text-align: center;
}
  
.soy h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 4rem;
}

.soy p{
    letter-spacing: 0.1rem;
    text-align: justify;
}

.foto {
    text-align: center;
    border-radius: 5rem;
}

.cajaazul {
    background: radial-gradient(circle, #685644, #002D72);
    color: #F4EAE0;
    letter-spacing: 0.1rem;
}

.proyectos {
    padding-top: 3rem;
}

footer {
    text-align: center;
    color: #002D72;
    background-color: rgba(244, 234, 224, 0.8);
    font-weight: bold;
}