body {
    font-family: 'Modernist';
    text-align: center;
}

.cajablanca {
    background-color: #F4EAE0;
    color: #002D72;
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.soy, .veo {
    margin: 5rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
}
  
.soy h1 {
    text-align: center;
    margin-top: 0;
}

.soy p{
    letter-spacing: 0.1rem;
    text-align: justify;
}

.foto {
    width: 100%; 
    max-width: 420px; 
    border-radius: 5rem;
}

.cajaazul {
    background: radial-gradient(circle, #685644, #002D72);
    color: #F4EAE0;
    letter-spacing: 0.1rem;
}

.proyectos {
    padding-top: 3rem;
}

footer {
    text-align: center;
    color: #002D72;
    background-color: rgba(244, 234, 224, 0.8);
    font-weight: bold;
    padding: 0.5rem;
}

@media (max-width: 1000px) {
    .cajablanca {
        grid-template-columns: 1fr;

    }

    .soy, .veo {
        margin: 1.5rem;
    }

    .veo {
        margin-top: -1rem;
        margin-bottom: 2rem;
    }

    .soy h1 {
        font-size: 2.5rem;
        margin-bottom: 2rem;

    }

    .soy p {
        margin: 1rem;
        font-size: 1rem;
    }

    .proyectos {
        padding-top: 1rem; 
    }

    .foto {
        margin-top: 3rem;
        margin-bottom: -3rem;
        border-radius: 20%
    }

    footer {
        font-size: 0.8rem; 
    }
}