.principal {
    background-color: #F4EAE0;
    font-family: 'Modernist';
    color: #002D72;
    padding: 0;
    letter-spacing: 0.1rem;
    display: flex;
    flex-wrap: wrap;
}

.marca {
    text-align: left;
    padding-left: 5rem;
    flex: 1;
}

.presentacion {
    font-size: 1.2rem;
    padding-top: 1.3rem;
    flex: 1;
    text-align: left;
}

.informacion {
    font-weight: bold;
    padding-top: 3.5rem;
    display: flex;
    flex: 1;
    text-align: end;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: #002D72;
    transition: font-size 0.3s ease; 
}

a:hover {
    font-size: 1.5rem;
}

@media (max-width: 1000px) {
    .marca{
        display: none;
    }
    
    .presentacion, .informacion {
        padding: 0.5rem; 
        text-align: center;
        font-size: 1.1rem;
    }

    .presentacion {
        padding-top: 2rem;
    }

    .principal {
        flex-direction: column;
    }

}